.app {
  height: 100vh;
  width: 100%;
  background: #e5e5e5;
  display: flex;
}

a {
  text-decoration: none;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

div,
section {
  scrollbar-color: #e6e8ec #fff;
  scrollbar-width: thin;
}

div::-webkit-scrollbar,
section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

div::-webkit-scrollbar-track-piece,
section::-webkit-scrollbar-track-piece {
  background: #fff;
}

div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  height: 6px;
  width: 6px;
  background: #e6e8ec;
  border-radius: 4px;
  outline: 0;
}
